{% extends 'base.html' %}
<title>{% block title %}User Feedback{% endblock %}</title>
{% block content %}

<div class="div row container">
    <div class=" div col-12 text-center">
        <h1>{{user.first_name}} {{user.last_name}}</h1>
    </div>
</div>

<div class="div row container">
    <div class="col-6 text-right">
        Username :
    </div>
    <div class="col-6">
        {{user.username}}
    </div>
</div>
<div class="div row container">
    <div class="col-6 text-right">
        Email :
    </div>
    <div class="col-6">
        {{user.email}}
    </div>
</div>
<hr>
<div class="div row container">
    <div class="col text-center">
        <h2>Feedback</h2>
    </div>
</div>
{% for fb in feedback %}
<div class="div row container">
    <div class="col-6 text-right">
        {{fb.title}} :
    </div>
    <div class="col-6">
        {{fb.content}} <a href="/feedback/{{fb.id}}/update"><i class="fa-solid fa-pen-to-square"></i></a>
        <a href="javascript:postForm()">
            <form id="frmMain" style="display: inline" action="/feedback/{{fb.id}}/delete" method="post">
                <i class="fa-solid fa-trash"></i>
            </form>
        </a>
    </div>
</div>
{% endfor %}

<div class="div row container">
    <div class="col text-center">
        <a href="/users/{{user.username}}/feedback/add"><button class="btn btn-primary m-3">Add Feedback</button></a>
    </div>
</div>
{% endblock %}